h1 {
	color: black;
	font-family: Playfair, Georgia, serif;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.chicken {
	color:  black;
	font-family: Playfair, Georgia, serif;
	font-size: 18px;
	text-align: center;
	background-color: lightpink;
	border-color: black;
	border-width: 1px;
}

.beef {
	color:  floralwhite;
	font-family: Playfair, Georgia, serif;
	font-size: 18px;
	text-align: center;
	background-color: orangered;
	border-color: black;
	border-width: 1px;
}

.chicken {
	color:  black;
	font-family: Playfair, Georgia, serif;
	font-size: 18px;
	text-align: center;
	background-color: lightyellow;
	border-color: black;
	border-width: 1px;
}

p {
	background-color: lightgray;
	border-color: black;
	border-width: 1px;
	font-family: Lucida Console, Verdana, sans-serif;
	text-align: left;
	color: black;
}